<!doctype html>
<html ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/1.css">
    <script src="styles/angular.min.js" charset="utf-8"\></script>
    <script type="text/javascript"  src="styles/app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="name">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="display();">Check If Too Much</button>
         </div>
         <div class="form-group message" >
            <span class="content">{{cnt}}</span>
         </div>
   </div>
   <!-- The case item1,item2, ,item 3 total item = 3 is considered
        but item1,item2,item3, would display total item = 4.    -->
</body>
</html>
